@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

:root {
	--main-color: #e8871e;
	--dark-color: #af3800;
	--light-color: #edb458;
	--second-color: #d4d4aa;
}

* {
	box-sizing: border-box;
}

/* Initialisation des fonts. A modifier les tailles de police au besoin */

h1 {
	font-size: 3.5rem;
}

h1,
h2,
h3 {
	font-family: "Marck Script", sans-serif;
}

h2 {
	font-size: 1.7rem;
}

h3 {
	font-size: 1.4rem;
}

p,
a,
li {
	font-family: "Hind Vadodara", sans-serif;
}

button {
	font-size: 1.5rem;
	font-family: "Marck Script", sans-serif;
}

a {
	text-decoration: none;
	color: black;
}
